{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="title">Demo of adreline/cogitech-int</h1>
    <div class="block">
        <h2 class="subtitle">Default login</h2>
        <p><strong>Username:</strong> admin
            <br>
        <strong>Password:</strong> admin</p>
    </div>
{% endblock %}